In [2]:
#Data Visualization
#Btech Computer Science Stream, January 2025
#Week 4 Introdcution to Pandas
# Name: Mohammed Ahsan Bagsaria , 240968484 , Date:06/02/2025
import numpy as np
import pandas as pd

In [3]:
'''
1. Create a Series from a list of integers representing daily 
temperatures (in Celsius) over a week. Assign index labels as day 
of the week. 
a. Find and print the average (mean) temperature for the week. 
b. Identify and print the maximum and minimum temperatures 
and their respective days. 
c. Display the temperatures greater than a specific value. 
d. Convert all temperatures to Fahrenheit. 
e. Print the days had temperatures above the average.
'''
s1 = pd.Series([7.56,12.45,13.56,14.77,15.66,12.44,18.47],
               index=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'])
#Part-a
print("The mean temperature for the week is:",s1.mean())
print("==============")
#Part-b
print("The maximum temperature for the week is:",s1[s1 == s1.max()])
print("The minimum temperature for the week is:",s1[s1 == s1.min()])
print("==============")
#Part-c
temp = float(input("Enter the temperature for which the higher values will be displayed: "))
print("Result:\n",s1[s1>=temp])
print("==============")
#Part-d
print("The temperatures for the week in fahrenheit are:\n",((9/5*s1)+32))
print("==============")
#Part-e
print("The days where temp is above the average:\n",s1[s1>s1.mean()])

The mean temperature for the week is: 13.558571428571428
==============
The maximum temperature for the week is: Saturday    18.47
dtype: float64
The minimum temperature for the week is: Sunday    7.56
dtype: float64
==============

Enter the temperature for which the higher values will be displayed:  13.567

Result:
 Wednesday    14.77
Thursday     15.66
Saturday     18.47
dtype: float64
==============
The temperatures for the week in fahrenheit are:
 Sunday       45.608
Monday       54.410
Tuesday      56.408
Wednesday    58.586
Thursday     60.188
Friday       54.392
Saturday     65.246
dtype: float64
==============
The days where temp is above the average:
 Tuesday      13.56
Wednesday    14.77
Thursday     15.66
Saturday     18.47
dtype: float64

In [10]:
'''
2. Create a data frame with details of 10 students and columns as 
Roll Number, Name, Gender, Marks1, Marks2, Marks3. 
a. Create a new column with total marks 
b. Find the lowest marks in Marks1 
c. Find the Highest marks in Marks2 
d. Find the average marks in Marks3 
e. Find student name with highest average 
f. Find how many students failed in Marks2 (<40) 
'''
dict_1 = {'Roll_No':[1,2,3,4,5,6,7,8,9,10],
          'Name':['Rahul','Rohit','Abhimanyu','Albert','Ajay','Purohit','Schrodinger','Samuel','Hamilton','Nikola Tesla'],
         'Gender':['M','F','M','M','F','M','F','M','M','M'],
          'Marks1':[65,60,45,45,83,73,54,54,46,79],
          'Marks2':[61,71,39,96,50,53,54,34,36,29],
         'Marks3':[30,60,77,95,90,81,52,64,65,60]}
data = pd.DataFrame(dict_1)
#Part-a
data["Total Marks"] = data["Marks1"]+data["Marks2"]+data["Marks3"]
print("New column 'Total Marks' created")
print("==============")
#Part-b
print("The lowest marks in Marks1: ",data["Marks1"].min())
print("==============")
#Part-c
print("The highest marks in Marks2: ",data["Marks2"].max())
print("==============")
#Part-d
print("The average marks in Marks3: ",data["Marks3"].mean())
print("==============")
#Part-e
print("The student with the highest average: \n",data['Name'][(data['Total Marks'] == data['Total Marks'].max())])
print("==============")
#Part-f
print("Number of students who failed in Marks2: \n", data['Name'][(data['Marks2'])<40])

New column 'Total Marks' created
==============
The lowest marks in Marks1:  45
==============
The highest marks in Marks2:  96
==============
The average marks in Marks3:  67.4
==============
The student with the highest average:
 3    Albert
Name: Name, dtype: object
==============
Number of students who failed in Marks2:
 2       Abhimanyu
7          Samuel
8        Hamilton
9    Nikola Tesla
Name: Name, dtype: object